<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Login</title>
</head>
<body>
    <h1>Form Login</h1>

    <form action="/login" method="post">
        <label for="">Email</label><br>
        <input type="text" name="email" value=""><br>

        <label for="">Paasword</label><br>
        <input type="text" name="password" value=""><br>

        <input type="submit" name="" value="login">
    </form>
</body>
</html>